<strong>Olá, {{ organizer }}</strong>
<p>Opa, outro inscrito no seu meetup {{ meetup }}!!! Seu novo inscrito é:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
  <small>
    Vamo espalhar conhecimento!
  </small>
</p>
